extends layout

block content
    link(rel='stylesheet', href='/stylesheets/main.css')

    .container
        .er
            image.main-logo(src='image/fabicon.png')
            .title HOW TO ENJOY WORLD CUP WITH TACTICS
            //.reset-btn.btn
              i.fas.fa-redo
        .content
            .main-wrapper
                .main-top
                    .sub-er
                        .sub-title The flow of World Cup games
                        .btn.year-btn 2010
                        .btn.year-btn 2014
                    svg#renderer
                .main-bottom
                    .title The difference of cluster with Round
                    svg#heat-map
            .side-wrapper
                .top
                    .sub-er
                        .sub-title Details of the selected game

                    .comparison-chart
                        .wrap.possession
                            .flex-wrapper
                                .flex-item
                                svg#possession-view
                                .flex-item

                        .wrap.attack-direction
                            .flex-wrapper
                                .flex-item
                                svg#attack-direction
                                .flex-item

    script(src='https://rawgit.com/biovisualize/radviz/master/radviz-min.js')
    script(src='main.js')
