extends layout

block content
  link(rel='stylesheet', href='/stylesheets/main.css')
  .container
    .er
      image.main-logo(src='image/fabicon.png')
      .title HOW TO ENJOY WORLD CUP WITH TACTICS
      //.reset-btn.btn
        i.fas.fa-redo
    .content
      .main-wrapper
        .sub-er
          .sub-title The flow of World Cup games
          .btn.year-btn 2010
          .btn.year-btn 2014
        svg#renderer
      .side-wrapper
        .top
          .sub-er
            .sub-title All World Cup matches in selected countries
          .rader
        .bottom
          .sub-er
            .sub-title Details of the selected game
          .comparison-chart
            .wrap
              .flex-item
                .flex-item
                svg#possession-view
                .flex-item
            .wrap
              svg#line-up


  script(src='main.js')
