extends layout

block content
  link(rel='stylesheet', href='/stylesheets/main.css')
  .container
    .header
      image.main-logo(src='image/fabicon.png')
      .title HOW TO HAVE FUN WORLD CUP BY TACTICS
      //.reset-btn.btn
        i.fas.fa-redo
    .content
      .main-wrapper
        .selector
          .btn 2010
          .btn 2014
        svg#renderer
      .side-wrapper.test
        .top.test
          .rader
        .bottom.test
          .comparison-chart
            .wrap
              svg#rader.test
            .wrap
              .flex-item
                .flex-item
                svg#possession-view
                .flex-item

  script(src='main.js')
