extends layout

block content
  link(rel='stylesheet', href='/stylesheets/main.css')
  .container
    .header
      .reset-btn.btn
        i.fas.fa-redo
    .content
      .main-wrapper
        svg#renderer
      .side-wrapper.test
        .top.test
          .rader
        .bottom.test
          .bar-char

  script(src='main.js')
