extends layout

block content
  link(rel='stylesheet', href='/stylesheets/main.css')
  .container.test
    .header.test
    .content.flex
      .main-wrapper.test
        svg#circos
      .side-wrapper.test
        .top.test
          .rader
        .bottom.test
          .bar-char

  script(src='/circos/dist/circos.min.js')
  script(src='main.js')
