doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    script(src='/lodash/lodash.min.js')
    script(src='/d3v4/build/d3.min.js')
    script(src='/d3-selection-multi/build/d3-selection-multi.min.js')

  body
    block content
