$header-size: 80px

$btn-color: #ec6c60
$btn-size: 60px

#renderer
  width: 1080px
  height: 880px
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1)

.flex-item
  display: flex
  flex: 1


.btn
  width: $btn-size
  height: $btn-size
  border-radius: 100%
  background-color: $btn-color
  text-align: center
  font-size: 16px
  i
    color: white
    line-height: $btn-size
  &:hover
    background-color: lighten($btn-color, 5)
  &:active
    background-color: darken($btn-color, 5)

.container
  width: 100%
  .header
    width: 100%
    height: $header-size
    padding: 8px
  .content
    display: flex
    width: 100%
    height: calc(100% - #{$header-size})
    .main-wrapper
    .side-wrapper
      flex: 1
      .top
        width: 100%
        height: calc(100%*4/7)
      .bottom
        width: 100%
        height: calc(100%*3/7)


.comparison-chart
  width: 100%
  height: 100%
  .wrap
    width: 100%
    height: 50%
    display: flex
    padding: 4px
    #rader
      width: 100%
      height: 100%
      background-color: #e95749
    #possession-view
      max-width: 200px
      width: 100%
      height: 100%



.test
  border: solid 2px #ccc