$header-size: 80px
$year-selector-height: 40px

$content-height: calc(100vh - #{$header-size})

$main-color: #43b264
$btn-height: 32px
$btn-size: 60px

#renderer
  width: 1040px
  height: calc(100% - #{$year-selector-height})
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1)

.flex-item
  display: flex
  flex: 1

.btn
  margin: 0 8px
  width: 100px
  height: $btn-height
  border-radius: 8px
  background-color: $main-color
  text-align: center
  line-height: $btn-height
  font-size: 16px
  color: white
  i
    color: white
    line-height: $btn-size
  &:hover
    background-color: lighten($main-color, 5)
  &:active
    background-color: darken($main-color, 5)

.container
  width: 100%
  .header
    width: 100%
    height: $header-size
    padding: 8px
    background: $main-color
    display: flex
    .main-logo
      width: calc( #{$header-size} - 16px)
      height: calc( #{$header-size} - 16px)
      margin-left: 8px
    .title
      color: white
      font-size: 36px
      line-height: calc( #{$header-size} - 16px)
      height: 100%


  .content
    display: flex
    width: 100%
    height: $content-height
    .main-wrapper
      .selector
        width: 100%
        height: $year-selector-height
        padding: 4px
        display: flex


    .side-wrapper
      flex: 1
      .top
        width: 100%
        height: calc(#{$content-height} *4/7)
      .bottom
        width: 100%
        height: calc(#{$content-height} *3/7)


.comparison-chart
  width: 100%
  height: 100%
  .wrap
    width: 100%
    height: 50%
    display: flex
    padding: 4px
    #rader
      width: 100%
      height: 100%
    #possession-view
      max-width: 380px
      width: 100%
      height: 100%

.test
  border: solid 2px #ccc